.watch-list{
  width: 100%;

    table{
  
      width: 100%;

      thead{
        width: 100%;
        tr{
          width: 100%;
          margin: 5px;
          padding: 5px;
          
  
        }
  
      }
  
      tbody{
        width: 100%;
        vertical-align: top;
        overflow: auto;
        tr{
          width: 100%;
          height: fit-content;
          td{
            padding:0%;
          }
        }
      }
  
    }

  
}