# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
.history

# Miscellaneous
**/.angular/cache
.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
testem.log
**/typings

# System files
.DS_Store
Thumbs.db
.vscode/launch.json
Server/src/node_ads_test.js
Server/src/client/3rdpartylicenses.txt
Server/src/client/favicon.ico
Server/src/client/index.html
Server/src/client/main.a7822bb5b9c4ec2a.js
Server/src/client/polyfills.65c7412430f3196f.js
Server/src/client/runtime.13824039d97446e5.js
Server/src/client/styles.6c491e66d5b00a61.css
Server/src/data/*
