<div style="height: 88vh; width: 98vw;">
    <as-split direction="horizontal" unit="percent" [restrictMove]="true" [gutterSize]="10">
      <as-split-area [size]="50">
        <app-symbol-selector currentPage="watch"></app-symbol-selector>
      </as-split-area>
      <as-split-area [size]="50">
        <div class="watch-list">
            <button (click)="clear()">Clear Watch List</button>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 50%;">Symbol</th>
                            <th style="width: 25%;">Value</th>
                            <th style="width: 25%;">NewValue</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let controllerName of controllerList">
                        <tr>{{controllerName}}</tr>
                        <tr *ngFor="let item of watchList[controllerName]">
                            <td style="width: 50%;">{{item.name}}</td>
                            <td style="width: 25%; text-align: center;">{{item.value}}</td>
                            <td style="width: 25%; text-align: center;">
                                <input [(ngModel)]="item.newValueStr">
                            </td>    </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="writeNewValues()">Write New Values</button>
        
        </div>
      </as-split-area>
    </as-split>
  </div>