as-split-area {
  background-color: black;
  border: 1px solid black;

  app-symbol-selector {
    height: 100%;
  }

  .watch-list {
    width: 100%;
    height: 100%;
    background-color: rgb(047 035 033);
    color: rgb(254, 216, 117);
          margin: 0px;

    table {

      width: 100%;
      border: 2px solid rgb(170 079 035);
      border-radius: 10px;
      margin: 0px;

      thead {
        width: 100%;
        font-size: large;
        color: rgb(248 235 220);
        background-color: rgb(170 079 035);
        margin: 0px;

        tr {
          width: 100%;
          margin: 0px;
          padding: 5px;
        }

      }

      tbody {
        width: 100%;
        vertical-align: top;
        overflow: auto;

        tr {
          width: 100%;
          height: fit-content;

          td {
            padding-left: 5px;
          }
        }
      }

    }
  }

  // .watch-list
}