<div class="topLevel">
    <as-split direction="horizontal" unit="percent" [restrictMove]="true" [gutterSize]="10">
      <as-split-area class="log-select-split" [size]="40">
        <div class="meas-input">
            <mat-form-field class="meas-select-field">
                <mat-label>
                    Select Measurement For New Logging
                </mat-label>
                <mat-select [(value)]="currentMeasurement">
                    <mat-option *ngFor="let measurement of measurements" [value]="measurement">{{measurement}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="meas-input-field">
                <mat-label>
                    Create New Measurement
                </mat-label>
                <input matInput type="text" [(ngModel)]="newMeasurementName"/>
                <button
                    *ngIf="newMeasurementName"
                    matSuffix
                    mat-icon-button
                    aria-label="ClearNewMeasurement"
                    (click)="newMeasurementName=''"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <button
                    *ngIf="newMeasurementName"
                    matSuffix
                    mat-icon-button
                    aria-label="AddNewMeasurement"
                    (click)="addNewMeasurement()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-symbol-selector currentPage="logging"></app-symbol-selector>
        
      </as-split-area>
      <as-split-area class="log-disp-split" [size]="60">
        
        <div class="log-disp">
            <button mat-raised-button color="warn" (click)="requestLoggingConfig()">Refresh Logging Configuration</button>
            <div class="log-list" >
                <div class="list-head">
                    <div class="firstColTitle">SymbolName</div>
                    <div class="secondColTitle">field</div>
                    <div class="thirdColTitle">Status</div>
                </div>
                <div class="list-body">
                    <div class="controller-level" *ngFor="let config of loggingConfig?.logConfigs; let configIdx = index">
                        <div class="controller-config">
                            <div class="controller-name">
                                <button mat-icon-button aria-label="expand-button" (click)="toggleExpanded(config.name+config.measurement)">
                                    <mat-icon>{{isExpanded(config.name+config.measurement)?"expand_more":"chevron_right"}}</mat-icon>
                                </button>
                                <span>Controller: {{config.name}}</span>
                            </div>
                            <div class="measurement">
                                    <mat-form-field>
                                        <mat-label>Measurement</mat-label>
                                        <input matInput type="text" [(ngModel)]="config.measurement">
                                    </mat-form-field>
                            </div>
                            <div class="actions">
                                <button mat-icon-button aria-label="disable-meas" 
                                            matTooltip="Enable / Disable All" 
                                            matTooltipPosition="above"
                                            (click)="toggleGroupEnable(config)"
                                            class="status-icon-button">
                                        <mat-icon>sync_disabled</mat-icon>
                                    </button>
                                <button mat-icon-button aria-label="delete-meas"
                                            matTooltip="Delete Measurement"
                                            matTooltipPosition="above"
                                            (click)="removeGroup(config)"
                                            class="status-icon-button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                            </div>
                        </div>
                        <div class="symbol-container" *ngIf="isExpanded(config.name+config.measurement)">

                            <div class="symbol-config" *ngFor="let symbol of config.tags; let symbolIdx = index">
                                <div class="symbol-name">
                                    <textarea tpe="text" [(ngModel)]="symbol.tag" (change)="symbolModified(symbol)"></textarea>
                                </div>
                                <div class="symbol-field">
                                    <textarea tpe="text" [(ngModel)]="symbol.field" (change)="symbolModified(symbol)"></textarea>
                                </div>
                                <div class="symbol-status">
                                    <button mat-fab extended color="warn" (click)="toggleOnChange(symbol)">
                                        {{symbol.onChange?"On Change":"Cyclic"}}
                                      </button>
                                    {{symbol.status === undefined? "Unknown":symbol.status}}
                                    <button mat-icon-button aria-label="duplicate-symbol" 
                                            matTooltip="Duplicate Symbol" 
                                            matTooltipPosition="above"
                                            (click)="duplicateSymbol(configIdx, symbolIdx)"
                                            class="status-icon-button">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="disable-symbol" 
                                            [matTooltip]="symbol.disabled?'Enable':'Disable'" 
                                            matTooltipPosition="above"
                                            (click)="toggleEnable(symbol)"
                                            class="status-icon-button">
                                        <mat-icon>{{symbol.disabled?'sync':'sync_disabled'}}</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="delete-symbol"
                                            matTooltip="Delete Symbol"
                                            matTooltipPosition="above"
                                            (click)="removeSymbol(symbol)"
                                            class="status-icon-button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
        
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            
            <button mat-raised-button color="warn" (click)="sendLoggingConfig()">Apply New Configuration</button>
        
        </div>
      </as-split-area>
    </as-split>
  </div>