
.topLevel {
  height: 100%;
  width: 100%;

  as-split{
    width: 100%;
    height: 100%;

    as-split-area{
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: rgb(047 035 033);
    }

    .log-select-split{
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .meas-input{
        flex: 0 0 auto;
        .meas-select-field{
          width: 50%;
      
          mat-select{
            margin-top: -10px
          }
        }
      
        .meas-input-field{
          width: 50%;
        }

      }

      app-symbol-selector{
        flex: 1 1 100px;
      }
      
    }

    .log-disp-split {
  
      .log-disp {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgb(047 035 033);
        color: rgb(254, 216, 117);
        margin: 0px;
  
        .log-list{
          width: 100%;
          border: 1px solid rgb(170 079 035);
          border-radius: 10px;
          margin: 1px;
          text-align: center;
          flex: 1 1 100px;
          display: flex;
          flex-direction: column;
  
          .list-head{
            flex: 0 0 auto;
            display: grid;
            grid-template-columns: 40% 30% 30%;
            .firstColTitle, .secondColTitle, .thirdColTitle{
              width: 100%;
              height: auto;
              font-size: large;
              color: rgb(248 235 220);
              background-color: rgb(170 079 035);
              margin: 0px;
    
            }
          }
  
          .list-body{
            flex: 1 1 1px;
            overflow-y: auto;
            overflow-x: hidden;
            .controller-level{
              .controller-config{
                display: grid;
                grid-template-columns: 35% 50% 15%;
                height: auto;
  
                .controller-name{
                  margin: auto;
                  text-align: left ;
                }
                .measurement{
                  width: 100%;
                  mat-form-field{
                    width: 100%;
                    margin: 2px;
                    padding: 0px;
                    input{
                      width: 100%;
                    }
                  }
                  
                }
    
              }
  
              .symbol-config{
                display: grid;
                grid-template-columns: 40% 30% 30%;
  
                .symbol-name{
                  margin-left: 5px;
                  margin-right: 5px;
                }
  
                .symbol-field{
                  margin-left: 5px;
                  margin-right: 5px;
                }
  
                .symbol-status{
                  margin: auto;
                  .status-icon-button{
                    background-color: inherit;
                    color: rgb(248 235 220);
                  }
  
                }
  
                textarea{
                  color: rgb(047 035 033);
                  background-color: rgb(254, 216, 117);
                  width: 100%;
                }
              }
  
              .symbol-config:nth-child(even){
                background-color: rgb(77, 58, 54);
              }
            }
          }
          
  
          
        }
    
        
      }
    
      // .watch-list
    }
  }

  

}

