<div class="symbol-selector">
    <mat-form-field class="input-form-field">
        <mat-label>
            {{symbolInfoAvailable?'Symbol Name':'Symbol Information Is Not Available.'}}
        </mat-label>
        <input matInput
            class="symbol-input"
            type="text" 
            [(ngModel)]="symbolInputStr"
            (change)="symbolInputChanged()"
            (keyup)="symbolInputChanged()"
            [disabled]="!symbolInfoAvailable"
            
        >
        <button *ngIf="symbolInputStr" matSuffix mat-icon-button (click)="clearInput()" color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-card class="current-path-disp">
        <mat-card-header>
            <mat-card-subtitle>Current Path</mat-card-subtitle>
            <mat-card-title> {{currentPath}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-raised-button color="warn" (click)="previousLevel()">Previous Level</button>
        </mat-card-actions>
    </mat-card>
    

    <div class="symbol-list-body">
        <div *ngFor='let item of candidateList' 
            (click)="symbolSelected(item)" 
            (dblclick)="symbolDoubleClicked(item, currentPage)"
            class="symbol-item">
            
            <p class="symbol-item-name">{{item.name}}</p>
            <table class="symbol-item-info">
                <tr class="symbol-item-type">
                    <td class="symbol-item-info-title">Type: </td>
                    <td class="symbol-item-info-content">{{item.type}}</td>
                </tr>
                <tr class="symbol-item-comment">
                    <td class="symbol-item-info-title">Comment: </td>
                    <td class="symbol-item-info-content">{{item.comment}}</td>
                </tr>
            </table>
    
        </div>
    </div>
    <!-- <button (click)="addSymbol()">Add To Watch List</button> -->
</div>