<div class="symbol-list">
    <div>
        <p>Symbol information available: {{symbolInfoAvailable}}</p>
    </div>
    <div class="flex-container">
        <input 
                type="text" 
                [(ngModel)]="symbolInputStr"
                (change)="symbolInputChanged()"
                (keyup)="symbolInputChanged()"
            >
        <button (click)="clearInput()" >Clear Input</button>
    </div>
    <p>Current Path: {{currentPath}}</p>

    <div class="symbol-list-body">
        <div *ngFor='let item of displayList' 
            (click)="symbolSelected(item)" 
            (dblclick)="symbolDoubleClicked(item)"
            class="symbol-item">
            
            <p class="symbol-item-name">{{item.name}}</p>
            <table class="symbol-item-info">
                <tr class="symbol-item-type">
                    <td class="symbol-item-info-title">Type: </td>
                    <td class="symbol-item-info-content">{{item.type}}</td>
                </tr>
                <tr class="symbol-item-comment">
                    <td class="symbol-item-info-title">Comment: </td>
                    <td class="symbol-item-info-content">{{item.comment}}</td>
                </tr>
            </table>
    
        </div>
    </div>
    <!-- <button (click)="addSymbol()">Add To Watch List</button> -->

    


</div>